streamlit
langchain
transformers

langchain-hub
langchain-chroma
langchain-experimental
langchain-community
langchain-huggingface

pypdf
python-dotenv

chromadb

torch
accelerate
bitsandbytes
sentence-transformers